.app {
  display: flex;
  width: auto;

  .main {
    flex: 1;
    padding: 20px;

    .dashboard {
      display: flex;
      flex-direction: column;
      gap: 30px;





      .dashboard-cards{
        display: flex;
        gap: 20px;
        width: 55%;





      }
      .statistics {
        display: flex;
        gap: 20px;
        width: 55%;

      }

      .side-panels {
        display: flex;
        gap: 20px;
      }
    }
  }
}
