.dashboard-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 60%;

  h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  p {
    color: #888;
    font-size: 0.9rem;
  }

  &.red {
    background-color: #ff7b7b; /* Light red */
  }

  &.green {
    background-color: #fdebf9; /* Light green */
  }

  &.blue {
    background-color: #E8F0FB/* Light blue */
  }

  &.yellow {
    background-color: #fff176; /* Light yellow */
  }

  &.purple {
    background-color: white; /* Light purple */
  }

  &.orange {
    background-color: white; /* Light orange */
  }

  &.pink {
    background-color: #FFEFE7; /* Light pink */
  }
}
